.category {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 1rem;
  background-position: center;
  background-size: cover;

}

.new-furn {
  background-image: url(images/furn.jpg);
}
@media (max-width:500px){
  .category {
    height: 240px;
  }
}
.new-bask {
  background-image: url(images/bask.jpg);
}

.category h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 1rem;
}

.shopnow-btn {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .break::before {
    content: "\a";
    white-space: pre;
  }
  .category {
    height: 240px;
    margin: 20px auto;
    width: 100%;
  }
}

.categories {
  margin: 3rem 15px;
}

@media (min-width: 601px) and (max-width: 899px) {
  .categories .container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 240px;
    flex: 0 1 auto;
    justify-content: space-between;
  }
  .category {
    width: 48%;
  }
}

@media (min-width: 900px) {
  .categories .container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 300px;
    flex: 0 1 auto;
    justify-content: space-between;
  }
  .category {
    width: 49%;
  }
}

/* The css for Best-producs section */

.furniture {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.products .container{
   margin: 0 auto;
   width: 95%;

}

.products{
   padding:50px 0;
}

.products h2{
  font-family: 'Poppins', sans-serif ;
  font-size: 30px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding: 20px 0;
  

  
}

.products_container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap:20px;
}

@media (min-width:600px) and (max-width:900px) {
.products_container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap:20px;
}
}

@media (max-width:500px) {
 .products_container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap:20px;
   }
}

.product{
   height: 300px;
   color: #fff;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}



.cup {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .bag {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .pencil-holder {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .key-holder {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .cotton-canvas {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .Michael-Kors {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr7.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .Bostanten-Women {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/pr8.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
