.hero{
    height: 100vh;
   /* background-image: url(images/hero.jpg);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   background-size: cover; */
   background: url(images/hero.jpg) no-repeat scroll center center / cover;
   display: flex;
  justify-content: center;
  align-items: center;
}

.headline{
width: 300px;
height: 210px;


}

.hero .headline{
   background-color: rgba(255, 255, 255, 0.75);
   padding: 35px 20px;
   text-align: center;
   z-index: 2;
}

.hero .container{
  width: 90%;
  position: absolute;
  top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
}
.headline h1{
font-size: 30px;
font-family: "Poppins" ,sans-serif;
font-weight: 300;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
padding-bottom: 30px;

}

.nav ul, .menu_icon{
   display: flex;
   gap: 13px;

}


.nav a, .topicon{
    color: #fff;
}


.shop-btn{
    font-family: 'Dosis',sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 3px solid #000;
}


@media (max-width:900px) {
    .nav {
        display: none;
    }
}

@media (min-width:900px){
    .hero .headline{
        width:450px;
        padding:45px 30px;
    }
}